<div data-sly-use.model=com.adobe.aem.guides.may.core.models.DigitalParent>

    ${model.text} <br>
    ${model.des} <br>
    ${model.num}<br>
    ${model.color}  <br>

    <!-- <h1>Page Name: ${model.getArticlePageName} </h1><br>
    <h1>Page Title: ${model.getArticlePageTitle} </h1><br>
    <h1>Page Path: ${model.getArticlePagePath} </h1><br>
    <h1>Page Parent: ${model.getArticleParentPage}</h1> <br> -->

    <div data-sly-list.item=${model.bookdetailswithmap}>

    	${item.bookname} <br>
    	${item.bookdes} <br>
    	${item.bookprice}<br>

    </div>
    <!-- <div data-sly-list.item1=${model.bookdetailswithwriter}>

        ${item1.bookwriter} <br>
    	${item1.writerdes} <br>
    	${item1.writersalary}<br>
    </div> -->

</div>

data-sly-test

<div data-sly-test="${10>5}">
		<h1>Data Coming From the Test Block</h1>
</div>

data-sly-resource

<div data-sly-include=siva.html></div>

<div data-sly-resource="${'header' @resourceType='may/components/header'}"></div>

data-sly-list

<div data-sly-set.items="${['java','c','python','AEM','git']}">
		<ul data-sly-list="${items}">

            <li> ${item}</li>

        </ul>

</div>

data-sly-template

<div data-sly-template.writer="${@para1,para2,para3,para4}">

		<h1> ${para1} </h1>
		<h1> ${para2} </h1>
		<h1> ${para3} </h1>
		<h1> ${para4} </h1>
</div>

data-sly-call

<div data-sly-call="${writer @para1='1000',para2='2000',para3='3000',para4='4000'}"></div>

data-sly-unwrap  <br>

<div data-sly-unwrap>Siva Prasad</div><br>

<sly>hari Prasad</sly><br>

data-sly-text

<div data-sly-text="${30==30}">Demo</div>

data-sly-attribute

<div title="SivaPrasad" data-sly-attribute.title="${50==40}">Demo</div>

data-sly-element

<h1 data-sly-element="${true}">text</h1>

